################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Baro.CoreLibrary/bin/Debug
/Baro.CoreLibrary/obj/Debug
/Baro.CoreLibrary/bin/Release
/Baro.CoreLibrary/obj/Release
/Ray/obj/Debug
*.tmp
