################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Baro.CoreLibrary/bin/Debug
/Baro.CoreLibrary/obj/Debug
